.NavigationBar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    backdrop-filter: brightness(0.7);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    z-index: 9999;
    top: 0;
    left: 0;
}

.title {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 2px black;
    color: white;
    text-decoration: none;
    text-wrap: nowrap;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-right: 0.5px solid black;
}

@media screen and (max-width: 1100px) {
    .NavigationBar {
        overflow-x: scroll;
        overflow-y: hidden;
        flex-shrink: 0;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .NavigationBar::-webkit-scrollbar{
        display:none;
    }
    .content {
        width: 200px;
    }
}